:root {
          --theme-foreground-default: #424242;
  --theme-foreground-muted: #bdbdbd;
  --theme-background-default: #ffffff;
  --theme-accent-default: #0A91CC;
  --typography-headline1-regular-font-family: Inter;
  --typography-headline1-regular-font-weight: Regular;
  --typography-headline1-regular-line-height: 100%;
  --typography-headline1-regular-font-size: 67;
  --typography-headline1-regular-paragraph-spacing: 0%;
  --typography-headline1-regular-text-decoration: none;
  --typography-headline1-regular-text-case: none;
  --typography-headline1-bold-font-family: Inter;
  --typography-headline1-bold-font-weight: Bold;
  --typography-headline1-bold-line-height: 100%;
  --typography-headline1-bold-font-size: 67;
  --typography-headline1-bold-paragraph-spacing: 0%;
  --typography-headline1-bold-text-decoration: none;
  --typography-headline1-bold-text-case: none;
  --typography-headline2-regular-font-family: Inter;
  --typography-headline2-regular-font-weight: Regular;
  --typography-headline2-regular-line-height: 100%;
  --typography-headline2-regular-font-size: 51;
  --typography-headline2-regular-paragraph-spacing: 0%;
  --typography-headline2-regular-text-decoration: none;
  --typography-headline2-regular-text-case: none;
  --typography-headline2-bold-font-family: Inter;
  --typography-headline2-bold-font-weight: Bold;
  --typography-headline2-bold-line-height: 100%;
  --typography-headline2-bold-font-size: 51;
  --typography-headline2-bold-paragraph-spacing: 0%;
  --typography-headline2-bold-text-decoration: none;
  --typography-headline2-bold-text-case: none;
  --typography-headline3-regular-font-family: Inter;
  --typography-headline3-regular-font-weight: Regular;
  --typography-headline3-regular-line-height: 100%;
  --typography-headline3-regular-font-size: 38;
  --typography-headline3-regular-paragraph-spacing: 0%;
  --typography-headline3-regular-text-decoration: none;
  --typography-headline3-regular-text-case: none;
  --typography-headline3-bold-font-family: Inter;
  --typography-headline3-bold-font-weight: Bold;
  --typography-headline3-bold-line-height: 100%;
  --typography-headline3-bold-font-size: 38;
  --typography-headline3-bold-paragraph-spacing: 0%;
  --typography-headline3-bold-text-decoration: none;
  --typography-headline3-bold-text-case: none;
  --typography-headline3-bold-letter-spacing: 0%;
  --typography-paragraph-regular-font-family: Inter;
  --typography-paragraph-regular-font-weight: Regular;
  --typography-paragraph-regular-line-height: 150%;
  --typography-paragraph-regular-font-size: 16;
  --typography-paragraph-regular-paragraph-spacing: 100%;
  --typography-paragraph-regular-text-decoration: none;
  --typography-paragraph-regular-text-case: none;
  --typography-paragraph-medium-font-family: Inter;
  --typography-paragraph-medium-font-weight: Bold;
  --typography-paragraph-medium-line-height: 150%;
  --typography-paragraph-medium-font-size: 16;
  --typography-paragraph-medium-paragraph-spacing: 100%;
  --typography-paragraph-medium-text-decoration: none;
  --typography-paragraph-medium-text-case: none;
  --typography-fineprint-regular-font-family: Inter;
  --typography-fineprint-regular-font-weight: Regular;
  --typography-fineprint-regular-line-height: 150%;
  --typography-fineprint-regular-font-size: 9;
  --typography-fineprint-regular-paragraph-spacing: 100%;
  --typography-fineprint-regular-text-decoration: none;
  --typography-fineprint-regular-text-case: none;
  --typography-button-button-font-family: Inter;
  --typography-button-button-font-weight: Bold;
  --typography-button-button-line-height: 150%;
  --typography-button-button-font-size: 9;
  --typography-button-button-paragraph-spacing: 0%;
  --typography-button-button-text-decoration: none;
  --typography-button-button-text-case: uppercase;
      }