:root {
          --theme-foreground-default: #424242;
  --theme-foreground-muted: #bdbdbd;
  --theme-background-default: #ffffff;
  --theme-accent-default: #0A91CC;
  --typography-headline1-regular-font-family: Inter;
  --typography-headline1-regular-font-weight: Regular;
  --typography-headline1-regular-line-height: 100%;
  --typography-headline1-regular-font-size: 67px;
  --typography-headline1-regular-paragraph-spacing: 0%;
  --typography-headline1-regular-text-decoration: none;
  --typography-headline1-regular-text-case: none;
  --typography-headline1-bold-font-family: Inter;
  --typography-headline1-bold-font-weight: Bold;
  --typography-headline1-bold-line-height: 100%;
  --typography-headline1-bold-font-size: 67px;
  --typography-headline1-bold-paragraph-spacing: 0%;
  --typography-headline1-bold-text-decoration: none;
  --typography-headline1-bold-text-case: none;
  --typography-headline2-regular-font-family: Inter;
  --typography-headline2-regular-font-weight: Regular;
  --typography-headline2-regular-line-height: 100%;
  --typography-headline2-regular-font-size: 51px;
  --typography-headline2-regular-paragraph-spacing: 0%;
  --typography-headline2-regular-text-decoration: none;
  --typography-headline2-regular-text-case: none;
  --typography-headline2-bold-font-family: Inter;
  --typography-headline2-bold-font-weight: Bold;
  --typography-headline2-bold-line-height: 100%;
  --typography-headline2-bold-font-size: 51px;
  --typography-headline2-bold-paragraph-spacing: 0%;
  --typography-headline2-bold-text-decoration: none;
  --typography-headline2-bold-text-case: none;
  --typography-headline3-regular-font-family: Inter;
  --typography-headline3-regular-font-weight: Regular;
  --typography-headline3-regular-line-height: 100%;
  --typography-headline3-regular-font-size: 38px;
  --typography-headline3-regular-paragraph-spacing: 0%;
  --typography-headline3-regular-text-decoration: none;
  --typography-headline3-regular-text-case: none;
  --typography-headline3-bold-font-family: Inter;
  --typography-headline3-bold-font-weight: Bold;
  --typography-headline3-bold-line-height: 100%;
  --typography-headline3-bold-font-size: 38px;
  --typography-headline3-bold-paragraph-spacing: 0%;
  --typography-headline3-bold-text-decoration: none;
  --typography-headline3-bold-text-case: none;
  --typography-headline3-bold-letter-spacing: 0%;
  --typography-paragraph-regular-font-family: Inter;
  --typography-paragraph-regular-font-weight: Regular;
  --typography-paragraph-regular-line-height: 150%;
  --typography-paragraph-regular-font-size: 16px;
  --typography-paragraph-regular-paragraph-spacing: 100%;
  --typography-paragraph-regular-text-decoration: none;
  --typography-paragraph-regular-text-case: none;
  --typography-paragraph-medium-font-family: Inter;
  --typography-paragraph-medium-font-weight: Bold;
  --typography-paragraph-medium-line-height: 150%;
  --typography-paragraph-medium-font-size: 16px;
  --typography-paragraph-medium-paragraph-spacing: 100%;
  --typography-paragraph-medium-text-decoration: none;
  --typography-paragraph-medium-text-case: none;
  --typography-fineprint-regular-font-family: Inter;
  --typography-fineprint-regular-font-weight: Regular;
  --typography-fineprint-regular-line-height: 150%;
  --typography-fineprint-regular-font-size: 9px;
  --typography-fineprint-regular-paragraph-spacing: 100%;
  --typography-fineprint-regular-text-decoration: none;
  --typography-fineprint-regular-text-case: none;
  --typography-button-button-font-family: Inter;
  --typography-button-button-font-weight: Bold;
  --typography-button-button-line-height: 150%;
  --typography-button-button-font-size: 9px;
  --typography-button-button-paragraph-spacing: 0%;
  --typography-button-button-text-decoration: none;
  --typography-button-button-text-case: uppercase;
  --font-size-base: 16px;
  --font-size-typescale: 1.333px;
  --font-size-display8: 67px;
  --font-size-display7: 51px;
  --font-size-display6: 38px;
  --font-size-display5: 28px;
  --font-size-display4: 21px;
  --font-size-display3: 16px;
  --font-size-display2: 12px;
  --font-size-display1: 9px;
  --font-family-headlines: Inter;
  --font-family-body: Inter;
  --font-weight-regular: Regular;
  --font-weight-medium: Medium;
  --font-weight-bold: Bold;
  --line-height-default: 100%;
  --line-height-header: 100%;
  --line-height-body: 150%;
  --line-height-roomy: 187.5%;
  --paragraph-spacing-none: 0%;
  --paragraph-spacing-some: 100%;
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --letter-spacing-none: 0%;
  --letter-spacing-small: 5%;
  --colors-common-white: #ffffff;
  --colors-common-black: #1f1f1f;
  --colors-blue-500: #0A91CC;
  --colors-green-500: #18a957;
  --colors-red-500: #df1642;
  --colors-yellow-500: #ffbb38;
  --colors-purple-500: #965cda;
  --colors-grey-50: #fcfcfc;
  --colors-grey-400: #bdbdbd;
  --colors-grey-800: #424242;
      }