:root {
          --font-size-base: 16px;
  --font-size-typescale: 1.333px;
  --font-size-math-display7: 36px;
  --font-size-math-display6: 30px;
  --font-size-math-display5: 26px;
  --font-size-math-display4: 22px;
  --font-size-math-display3: 19px;
  --font-size-math-display2: 16px;
  --font-size-math-display1: 14px;
  --font-size-math-base: 16px;
  --font-size-math-typescale: 1.175px;
  --font-size-flat-12: 12px;
  --font-size-flat-14: 14px;
  --font-size-flat-16: 16px;
  --font-size-flat-20: 20px;
  --font-size-flat-24: 24px;
  --font-size-flat-30: 30px;
  --font-size-flat-36: 36px;
  --dimension-scale: 0.5;
  --screen-width: 300px;
  --font-family-headlines: Inter;
  --font-family-body: Inter;
  --font-weight-regular: Regular;
  --font-weight-semi-bold: Semi Bold;
  --font-weight-bold: Bold;
  --line-height-default: 125%;
  --line-height-header: 125%;
  --line-height-body: 150%;
  --line-height-roomy: 187.5%;
  --paragraph-spacing-none: 0%;
  --paragraph-spacing-some: 100%;
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --letter-spacing-none: 0%;
  --letter-spacing-small: 5%;
  --sizing-screen-1200: 1200px;
  --sizing-screen-900: 900px;
  --sizing-screen-600: 600px;
  --sizing-screen-300: 300px;
  --d-16: 16px;
  --d-20: 20px;
  --d-24: 24px;
  --d-32: 32px;
  --d-40: 40px;
  --d-52: 52px;
  --d-64: 64px;
  --d-80: 80px;
  --d-96: 96px;
  --core-color-lights-100: #D9E1EC;
  --core-color-lights-200: #D9E1EC;
  --core-color-lights-300: #D9E1EC;
  --core-color-lights-400: #D9E1EC;
  --core-color-lights-500: #D9E1EC;
  --core-color-lights-600: #D9E1EC;
  --core-color-lights-700: #D9E1EC;
  --core-color-lights-800: #D9E1EC;
  --core-color-lights-900: #D9E1EC;
  --core-color-darks-100: #545F6D;
  --core-color-darks-200: #545F6D;
  --core-color-darks-300: #545F6D;
  --core-color-darks-400: #545F6D;
  --core-color-darks-500: #545F6D;
  --core-color-darks-600: #545F6D;
  --core-color-darks-700: #545F6D;
  --core-color-darks-800: #545F6D;
  --core-color-darks-900: #545F6D;
  --core-color-blue-100: #0A91CC;
  --core-color-blue-200: #0A91CC;
  --core-color-blue-300: #0A91CC;
  --core-color-blue-400: #0A91CC;
  --core-color-blue-500: #0A91CC;
  --core-color-blue-600: #0A91CC;
  --core-color-blue-700: #0A91CC;
  --core-color-blue-800: #0A91CC;
  --core-color-blue-900: #0A91CC;
  --core-color-yellow-100: #ffbb38;
  --core-color-yellow-200: #ffbb38;
  --core-color-yellow-300: #ffbb38;
  --core-color-yellow-400: #ffbb38;
  --core-color-yellow-500: #ffbb38;
  --core-color-yellow-600: #ffbb38;
  --core-color-yellow-700: #ffbb38;
  --core-color-yellow-800: #ffbb38;
  --core-color-yellow-900: #ffbb38;
  --core-color-purple-100: #965cda;
  --core-color-purple-200: #965cda;
  --core-color-purple-300: #965cda;
  --core-color-purple-400: #965cda;
  --core-color-purple-500: #965cda;
  --core-color-purple-600: #965cda;
  --core-color-purple-700: #965cda;
  --core-color-purple-800: #965cda;
  --core-color-purple-900: #965cda;
  --core-color-green-100: #7FD1B9;
  --core-color-green-200: #7FD1B9;
  --core-color-green-300: #7FD1B9;
  --core-color-green-400: #7FD1B9;
  --core-color-green-500: #7FD1B9;
  --core-color-green-600: #7FD1B9;
  --core-color-green-700: #7FD1B9;
  --core-color-green-800: #7FD1B9;
  --core-color-green-900: #7FD1B9;
  --core-color-red-100: #FF0054;
  --core-color-red-200: #FF0054;
  --core-color-red-300: #FF0054;
  --core-color-red-400: #FF0054;
  --core-color-red-500: #FF0054;
  --core-color-red-600: #FF0054;
  --core-color-red-700: #FF0054;
  --core-color-red-800: #FF0054;
  --core-color-red-900: #FF0054;
      }