:root {
          --font-size-base: 16px;
  --font-size-typescale: 1.2px;
  --font-size-math-display7: 36px;
  --font-size-math-display6: 30px;
  --font-size-math-display5: 26px;
  --font-size-math-display4: 22px;
  --font-size-math-display3: 19px;
  --font-size-math-display2: 16px;
  --font-size-math-display1: 14px;
  --font-size-math-base: 16px;
  --font-size-math-typescale: 1.175px;
  --font-size-flat-12: 12px;
  --font-size-flat-14: 14px;
  --font-size-flat-16: 16px;
  --font-size-flat-20: 20px;
  --font-size-flat-24: 24px;
  --font-size-flat-30: 30px;
  --font-size-flat-36: 36px;
  --dimension-scale: 1;
  --screen-width: 900px;
  --font-family-headlines: Inter;
  --font-family-body: Inter;
  --font-weight-regular: Regular;
  --font-weight-semi-bold: Semi Bold;
  --font-weight-bold: Bold;
  --line-height-default: 125%;
  --line-height-header: 125%;
  --line-height-body: 150%;
  --line-height-roomy: 187.5%;
  --paragraph-spacing-none: 0%;
  --paragraph-spacing-some: 100%;
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --letter-spacing-none: 0%;
  --letter-spacing-small: 5%;
  --sizing-screen-1200: 1200px;
  --sizing-screen-900: 900px;
  --sizing-screen-600: 600px;
  --sizing-screen-300: 300px;
  --d-16: 16px;
  --d-20: 20px;
  --d-24: 24px;
  --d-32: 32px;
  --d-40: 40px;
  --d-52: 52px;
  --d-64: 64px;
  --d-80: 80px;
  --d-96: 96px;
  --core-color-lights-100: #fefefe;
  --core-color-lights-200: #fbfcfd;
  --core-color-lights-300: #f9fafc;
  --core-color-lights-400: #f5f7fa;
  --core-color-lights-500: #f1f4f8;
  --core-color-lights-600: #ecf0f6;
  --core-color-lights-700: #e6ecf3;
  --core-color-lights-800: #e0e7f0;
  --core-color-lights-900: #D9E1EC;
  --core-color-darks-100: #545F6D;
  --core-color-darks-200: #454c58;
  --core-color-darks-300: #363d46;
  --core-color-darks-400: #2b2f36;
  --core-color-darks-500: #222529;
  --core-color-darks-600: #1a1c1f;
  --core-color-darks-700: #131416;
  --core-color-darks-800: #0c0d0e;
  --core-color-darks-900: #050607;
  --core-color-blue-100: #f7fafd;
  --core-color-blue-200: #e1edf7;
  --core-color-blue-300: #bbd6ed;
  --core-color-blue-400: #82b7df;
  --core-color-blue-500: #0A91CC;
  --core-color-blue-600: #1e5a7e;
  --core-color-blue-700: #193446;
  --core-color-blue-800: #111b22;
  --core-color-blue-900: #05090c;
  --core-color-yellow-100: #fffcf7;
  --core-color-yellow-200: #fff4e0;
  --core-color-yellow-300: #ffe6ba;
  --core-color-yellow-400: #ffd385;
  --core-color-yellow-500: #ffbb38;
  --core-color-yellow-600: #9c7329;
  --core-color-yellow-700: #56411c;
  --core-color-yellow-800: #292011;
  --core-color-yellow-900: #0f0b05;
  --core-color-purple-100: #fbf8fe;
  --core-color-purple-200: #f0e4fa;
  --core-color-purple-300: #dcc3f3;
  --core-color-purple-400: #be96e9;
  --core-color-purple-500: #965cda;
  --core-color-purple-600: #5e3c86;
  --core-color-purple-700: #36254a;
  --core-color-purple-800: #1c1524;
  --core-color-purple-900: #0a060d;
  --core-color-green-100: #fafdfc;
  --core-color-green-200: #ebf8f3;
  --core-color-green-300: #d3efe6;
  --core-color-green-400: #afe2d2;
  --core-color-green-500: #7FD1B9;
  --core-color-green-600: #518072;
  --core-color-green-700: #304740;
  --core-color-green-800: #192320;
  --core-color-green-900: #080c0b;
  --core-color-red-100: #fff7f7;
  --core-color-red-200: #ffe1e1;
  --core-color-red-300: #ffbbbd;
  --core-color-red-400: #ff828d;
  --core-color-red-500: #FF0054;
  --core-color-red-600: #9d1c36;
  --core-color-red-700: #581921;
  --core-color-red-800: #2a1212;
  --core-color-red-900: #100505;
      }