@import 'default-mobile';

@media screen and (min-width: 768px) {
  @import 'default-desktop';
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0 2rem;
}

h1 {
  font-size: $typography-headline1-regular-font-size;
}

h2 {
  font-size: $typography-headline2-regular-font-size;
}

h3 {
  font-size: $typography-headline3-regular-font-size;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

input,
textarea {
  display: block;
  max-width: 300px;
  margin: 0.5rem 0;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

nav a {
  font-weight: bold;
  margin: 0 0.5rem;
  text-decoration: underline;
}

